<div class="footer">
	<div class="container">
		<div class="row">
            <div class="col-lg-6 col-sm-6">
                    <h4>Receba Notificações</h4>
                    <p>Seja Notificado sobre as últimas atualizações em nosso Sistema.</p>
                    <form class="form-inline" role="form">
                            <input type="text" placeholder="Insira seu Email" class="form-control">
                                <button class="btn btn-success" type="button">Avise-me!</button></form>
            </div>
            
            <div class="col-lg-6 col-sm-6">
                    <h4>Encontre-nos</h4>
                    <p><b>Endereço</b><br>
						<span class="glyphicon glyphicon-map-marker"></span> Rua Mizael Domingues, 75 - Centro / Maceió - AL<br>
						<span class="glyphicon glyphicon-envelope"></span> contato@cefet-al.com.br<br> 
						<span class="glyphicon glyphicon-earphone"></span> (82) 3194-1150</p>
            </div>
        </div>
		<p class="copyright">&copy; 2015 <a target="_blank" href="https://www.facebook.com/leilton.cesar" title="Developer/Designer">Leilton César</a> / <a target="_blank" href="https://www.facebook.com/eduardo.cedrim" title="Developer/Designer">Eduardo Cedrim</a>. All Rights Reserved.</p>
	</div>
</div>