	
	<center><a href="#modal_add_competicao" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign" title="Cadastrar Competição"></i> Cadastrar Competição</a></center><br> <!-- Se usuario foi admin -->
	<center><a href="#modal_select_competicao" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign" title="Selecionar Competção"></i> Selecionar Competição</a></center><br> <!-- Se usuario foi admin -->
	<div class="row">
		<div class="col-md-4"><center><a href="#modal_add_atletas" data-toggle="modal"><img src="img/icones/atleta.png" width="50%" title="Área do Atleta"></a></center></div><!--  Atletas-->
		<div class="col-md-4"><center><a href="#modal_add_equipes" data-toggle="modal"><img src="img/icones/equipes.png" width="50%"title="Área da Equipe"></a></center></div><!--  Equipes-->
		<div class="col-md-4"><center><a href="#modal_add_local" data-toggle="modal"><img src="img/icones/estadio.png" width="50%" title="Área do Estado"></a> </center></div><!--  Espaço-->
	</div>
	<div class="row">
		<!--  <div class="col-md-4"><center><img src="img/icones/torneio.png" width="20%"></center> </div>  --><!-- Relatorio-->
		<!--  <div class="col-md-4"><center><img src="img/icones/jogos.png" width="30%"></center></div> --><!--  Jogos-->
		
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4"><center><a href="#modal_tabela" data-toggle="modal"><img src="img/icones/tabela.png" width="50%" title="Área da Tabela"></a></center></div><!--  Tabela-->
		<div class="col-md-4"><center><a href="#modal_artilheiros" data-toggle="modal"><img src="img/icones/artilheiro.png" width="50%" title="Área de Artilheiros"></a></center></div><!--  Artilheiro/Modalidade-->
		<div class="col-md-4"><center><a href="#modal_cartoes" data-toggle="modal"><img src="img/icones/cartoes.png" width="50%" title="Área de Cartões"></a></center></div><!--  Cartões/Modalidade-->
	</div>